.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6%;
}

.header h1 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    color: #72777a;
    text-align: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75%;
}

.conteudo-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 20px;
}

.conteudo-centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    padding: 20px;
}

.jogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.conteudo-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    padding: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.inf h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    color: #72777a;
    text-align: justify;
}

.link_jogar {
    /* Inicia oculto */
    display: none;

    /* Cores e fundo */
    color: yellow;
    background: url(../img/botao-jogar.png);

    /* Fonte */
    font-size: 20px;
    font-family: sans-serif;

    /* Sem sublinhado e com sombra */
    text-decoration: none;
    text-shadow: 2px 2px 5px black;

    /* Posicionamento */
    position: absolute;
    left: 220px;
    top: 330px;

    /* A imagem do botão é 72x72, descontamos os paddings */
    width: 52px;
    height: 26px;
    padding: 23px 10px;
}